body {
    background-color: #F8F7F4;
    font-family: 'Segoe UI', sans-serif;
    padding: 0px;
    margin: 0px;
}

.logoText {
    font-family: Junge, cursive !important;
    font-weight: 400;
    font-style: normal;
}

.footerLink {
    text-decoration: none;
}

.menuLink {
    text-decoration: none;
    font-size: 14px !important;
    color: #888888 !important;
}
.menuLink:hover {
    text-decoration: underline;
}