.content-container {
    margin: auto;
    padding: 0px;
    padding-top: 0px !important;
}

.bold-contact-content-container {
    margin: auto;
    background:rgba(255, 255, 255, 0.9);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.email-content-container {
    background:rgba(255, 255, 255, 1.0);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    text-align: top;
    vertical-align: top;
}

