.cocktailLink {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 30px !important;
}

.baseIngredientLink {
    font-weight: 400 !important;
    font-size: 16px !important;
    text-transform: uppercase;
    color: #ff7c5b;
    margin-bottom: 10px !important;
}