.markdown-container {
    margin: auto;
    background:rgba(255, 255, 255, 0.9);
    padding: 15px;
    padding-top: 5px !important;
}

.markdown-container li::marker{
    color: orange;
}

.markdown-container h1 {
    border-bottom: 1px dotted #aaaaaa;
    padding-top: 0px;
    margin-top: 0px;
}

.markdown-container h2 {
    border-bottom: 1px dotted #aaaaaa;
}

.action-container {
    margin: auto;
    margin-bottom: 0px !important;
    background:rgba(255, 255, 255, 0.9);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px !important;
    padding-top: 5px !important;
}